<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>0001_JavaWeb_ServletsJSPs</display-name>
  

  <!--  despliegue de los servlet -->
  <servlet>
  	<servlet-name>SaludoServlet</servlet-name>
  	<servlet-class>com.curso.web.SaludoServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>SaludoServlet</servlet-name>
     <url-pattern>/saludo</url-pattern>
     <url-pattern>/saludo2</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>